
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

body {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
  }

* {
  transition: all 400ms ease;
}

nav, .nav-links{
    display: flex;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 2rem;
    margin-left: 25%;
    margin-top: .75%;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

nav {
    justify-content: space-around;
    padding-top: 2%;
    
}

.logo {
    font-family: "Zeyada", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5vh;
}

.icon {
    width: 25px; /* Set the desired width */
    height: auto;
    border-radius: 8px;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
  }

  .logo:hover {
    cursor: default;
  }

  .icon:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }

  .container {
    max-width: 1224px;
    width: 90%;
    margin: 0 auto;
    padding: 5% 0%;
  }

  .photo-gallery {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }

  .photo-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .photo {
    position: relative;
  }

  .photo img {
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    
   
  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.overlay:hover {
    opacity: 1;
}


  .art-photo1 {
    width: 19rem;
    height: 26rem;
    
  }
  .art-photo2 {
    width: 19rem;
    height: 24rem;
  }
  .art-photo3 {
    width: 19rem;
    height: 24rem;
  }
  .art-photo4 {
    width: 19rem;
    height: 24rem;
  }
  .art-photo5 {
    width: 19rem;
    height: 30rem;
  }
  .art-photo6 {
    width: 19rem;
    height: 30rem;
  }
  .art-photo7 {
    width: 19rem;
    height: 30rem;
  }
  .art-photo8 {
    width: 19rem;
    height: 25rem;
  }
  .art-photo9 {
    width: 19rem;
    height: 26rem;
  }
  .art-photo10 {
    width: 19rem;
    height: 15rem;
  }
  .art-photo11 {
    width: 19rem;
    height: 24rem;
  }
  .art-photo12 {
    width: 19rem;
    height: 15rem;
  }
  .art-photo13 {
    width: 19rem;
    height: 24rem;
  }
  .art-photo14 {
    width: 19rem;
    height: 15rem;
  }
  .art-photo15 {
    width: 19rem;
    height: 28rem;
  }
  .art-photo16 {
    width: 19rem;
    height: 26rem;
  }
  .art-photo17 {
    width: 19rem;
    height: 26rem;
  }
  .art-photo18 {
    width: 19rem;
    height: 27rem;
  }
  .art-photo19 {
    width: 19rem;
    height: 18rem;
  }
  .art-photo20 {
    width: 19rem;
    height: 16rem;
  }
  .art-photo21 {
    width: 19rem;
    height: 23rem;
  }
  .art-photo22 {
    width: 19rem;
    height: 26rem;
  }
  .art-photo23 {
    width: 19rem;
    height: 26rem;
  }
  .art-photo24 {
    width: 19rem;
    height: 27rem;
  }
  .art-photo25 {
    width: 19rem;
    height: 14rem;
  }

  #hamburger-nav {
    z-index: 4;
    
    display: none;
  }
  
  .hamburger-menu {
    z-index: 4;
    
    display: inline-block;
  }
  
  .hamburger-icon {
    z-index: 4;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
  }
  
  .hamburger-icon span {
    z-index: 4;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links {
    z-index: 4;
   
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links a {
    z-index: 4;
 
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links li {
    z-index: 4;
   
    list-style: none;
  }
  
  .menu-links.open {
    z-index: 4;
  
    max-height: 300px;
  }
  
  .hamburger-icon.open span:first-child {
    z-index: 4;
   
    transform: rotate(45deg) translate(10px, 5px);
  }
  
  .hamburger-icon.open span:nth-child(2) {
    z-index: 4;
   
    opacity: 0;
  }
  
  .hamburger-icon.open span:last-child {
    z-index: 4;
   
    transform: rotate(-45deg) translate(10px, -5px);
  }
  
  .hamburger-icon span:first-child {
    z-index: 4;
   
    transform: none;
  }
  
  .hamburger-icon span:first-child {
    z-index: 4;
   
    opacity: 1;
  }
  
  .hamburger-icon span:first-child {
    z-index: 4;
 
    transform: none;
  }  

  footer {
    height: 26vh;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the nav horizontally */
    align-items: center; /* Center the nav vertically */
  }
  
  footer p {
    text-align: center;
    font-size: 1.5vh;
  }

  .footer-nav {
    display: flex;
    justify-content: center; /* Center the nav horizontally */
    align-items: center; /* Center the nav vertically */
     /* Ensure it spans the full width of the footer */
     font-size: 2.5vh;
  }

  .footer-nav-links {
    /* Example: if a child element has a fixed width */
 /* Ensure child elements can adjust to content */
    list-style-type: none;
    gap: 2rem;
    display: flex;
}

.footer-nav-links a {
    /* Example: Ensure text alignment is centered */
    text-align: center;
    text-decoration: none;
    color: black;
}

body {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInRise 1s ease-in-out forwards;
}

@keyframes fadeInRise {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .contact-image {
    width: 21.5rem;
    height: 27rem;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    border: 2px solid lightslategray;
    transition: transform 0.7s ease-in-out, box-shadow 0.7s ease-in-out;
  }

  .tech-portfolio {
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }

  .contact-image:hover, .tech-portfolio:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  }

  .contact-container {
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 2%;
    margin-bottom: 10%;
  }

  .contact-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    margin-top: 1rem;
  }

  .email-tech-portfolio {
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 40rem;
  }

  .email, .tech-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 5rem;
    text-align: center;
    background-color: #91A9E0;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    border: 2px solid lightslategray;
  }

  .contact-nav-links {
    display:flex;
    list-style-type: none;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
  }

  .contact-nav-links a {
    text-decoration: none;
    color: white
  }

  .icon-contact {
    width: 2rem;
    height: 2rem;
    border: 2px solid lightgrey;
    padding: .5rem;
    border-radius: 10px;
  }

  .icon-contact:hover {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4)
  }

  .contact-nav {
    height: 1vh;
  }

  .contact-a:hover, .tech-portfolio2:hover {
    color: lightslategray;
    text-decoration: none;
  }

  .contact-a, .tech-portfolio2 {
    text-decoration: none;
    color:white;
  }

  h4 {
    color: white;
  }

  .hello-mirror-photo, .about-photo {
    width: 23rem;
    height: 29rem;
    border-radius: 10px;
  }

  .outside-photo {
    width: 23rem;
    height: 26rem;
    border-radius: 10px;
  }

  .about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hello-container, .about-container, .outside-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  @media screen and (max-width: 600px) {

    .overlay {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0);
        gap: -2rem;
    }

    .desktop-nav {
        display: none;
    }
      #hamburger-nav {
        display: flex;
    }

    .hamburger-menu {
        position: absolute;
        margin-left: 88%;
        margin-top: 2%;
    }

    #contact,
    footer {
      height: 8rem;
    }
    .container {
        justify-content: center;
        margin: auto;
    }
    .photo-gallery {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .logo {
        margin: auto;
        display: flex;
        justify-content: center;
        font-size: 5vh;
        margin-top: 2%;
    }

    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 1rem;
    }
    .nav-links li a, .footer-nav-links li a {
      font-size: 1rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
      margin-top: 2%;
      margin-right: 2%;
    }
    .footer-nav-links {
        gap: .5rem;
        text-align: center;
        font-size: 2.5vh;
    }
    .title {
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 600px) {
    .contact-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 7%;
      gap: 5rem;
    }
    .contact-text-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .email-tech-portfolio {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
    .email, .tech-portfolio {
      gap: 1rem;
    }

    .tech-portfolio {
      margin-bottom: .5rem;
    }

    .email {
      margin-bottom: 1rem;
    }

    body {
      overflow-x: hidden;
    }

    .contact-nav {
      margin-bottom: 5rem;
    }
  }
  
  @media screen and (max-width:600px) {
    .hello-container, .outside-container {
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      align-items: center;
    }

    .about-container {
      flex-direction: column-reverse;
      gap: 1rem;
      justify-content: center;
      align-items: center;
    }

    .outside-text, .about-text, .hello-text {
      text-align: center;
    }

    h1 {
      font-size: 1.65rem;
    }

    .hello-text-description, .about-text-description, .outside-text-discription {
      padding: 1rem;
    }
  }